---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blogs">
    <h1>Blogs</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem eos labore culpa natus ducimus cumque, ad minus repellendus voluptates illo molestias, in magni harum quae atque ut! Consectetur, quas aliquid!</p>
</Layout>