---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Learn more">
<h1>Learn more</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis soluta debitis assumenda sapiente adipisci maxime libero odit vero officiis, ullam nisi ab minus tempore vel temporibus repellendus, alias necessitatibus tenetur.</p>
</Layout>